.weather-page {
  background-color: lightblue;
}

.weather-table {
  background-color: lightcyan;
  border-color: darkgray;
}

.weather-title {
  font-weight: bold;
  text-align: right;
  width: 150px;
}

.drop-title {
  margin-right: 10px;
}

.weather-issued-at {
  margin-top: 20px;
  font-weight: bold;
}

.weather-header {
    font-weight: bold;
    background-color: darkcyan;
    color: white;
}
